@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 400;
  src: local("SamsungOne-400");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff) format("woff");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 700;
  src: local("SamsungOne-700");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff) format("woff");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Samsung Sharp Sans Bold");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 400;
  src: local("SamsungOne-400");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff) format("woff");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 700;
  src: local("SamsungOne-700");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff) format("woff");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Samsung Sharp Sans Bold");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 400;
  src: local("SamsungOne-400");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-400.woff) format("woff");
}
@font-face {
  font-family: "SamsungOne";
  font-style: normal;
  font-weight: 700;
  src: local("SamsungOne-700");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff2) format("woff2"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungOne-700.woff) format("woff");
}
@font-face {
  font-family: "Samsung Sharp Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Samsung Sharp Sans Bold");
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot);
  src: url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.eot?#iefix) format("embedded-opentype"), url(https://cdn.samsung.com/etc/designs/smg/global/fonts/SamsungSharpSansBd.woff) format("woff");
}
html {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  width: 100%;
  /**
    //? HTML ROOT RULES
    //! 1. Set BORDER-BOX for inheritance
    //! 2. Avoid 300ms click delay on touch devices that support the 'touch-action' CSS proprty
    //! 3. Prevent adjustments of font-size after orientation changes in IE, on Windows Phone and iOS
    //! 4. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so we force a non-overlapping, non-auto-hidding srcollbar to counteract.
    //! 5. Change the default tap highlight color to be completely transparent in iOS
    **/
  box-sizing: border-box;
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: -webkit-fill-available;
  overflow: scroll;
  overflow-x: hidden;
}
html body {
  margin: 0;
  padding: 0;
  height: -webkit-fill-available;
}
html article,
html aside,
html details,
html figcaption,
html figure,
html footer,
html header,
html hgroup,
html main,
html menu,
html nav,
html section,
html summary {
  display: block;
}
html .blue_text {
  color: #2c04bc;
}
html .black_text {
  color: #000000;
}
html .proceeding_cta {
  padding: 1rem 3.5rem;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  color: #000000;
  background-color: transparent;
  text-decoration: none;
  margin: 3rem auto 3rem;
  border: 2px solid #000000;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
}
html .generate_greetings_cta {
  padding: 1.5rem 2rem;
  width: 60%;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  color: #000000;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin: 4rem auto;
  background-color: transparent;
  border: 2px solid #000000;
  cursor: pointer;
}
html .rewards_cta {
  padding: 1rem;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}
html .mt_0 {
  margin: 0 auto 3rem;
}
html .input {
  width: 90%;
  text-align: center;
  padding: 3rem 0;
}
html .input .question {
  color: #2c04bc;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
}
html .input input {
  border: none;
  border-bottom: 3px solid #000000;
  background-color: transparent;
  padding: 1rem 2rem;
  color: #2c04bc;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  width: 90%;
}
html .input input::-moz-placeholder {
  font-size: 1.5rem;
  color: rgba(44, 4, 190, 0.2509803922);
}
html .input input::placeholder {
  font-size: 1.5rem;
  color: rgba(44, 4, 190, 0.2509803922);
}
html .input input::-moz-selection {
  border: none !important;
}
html .input input::selection, html .input input:focus {
  border: none !important;
}
html .input .range_list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
html .input .range_list img {
  width: 15%;
}
html .input input[type=range] {
  -webkit-appearance: none;
  background-color: #000000;
  height: 1px !important;
  padding: 0;
  width: 80%;
  position: relative;
  cursor: ew-resize;
}
html .input input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: #000000;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  z-index: 100;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 20;
  background-color: rgba(0, 0, 1, 0.4431372549);
}

.nav_drawer,
.nav_drawer_closed {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 25;
  height: -webkit-fill-available;
  background-color: #cee885;
  transition: transform ease 1s;
}
.nav_drawer .close_cta,
.nav_drawer_closed .close_cta {
  position: absolute;
  top: 2rem;
  right: 2rem;
}
.nav_drawer .close_cta img,
.nav_drawer_closed .close_cta img {
  width: 2.5rem;
}
.nav_drawer .nav_content,
.nav_drawer_closed .nav_content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto 2rem;
}
.nav_drawer .nav_content .nav_title,
.nav_drawer_closed .nav_content .nav_title {
  padding: 0;
  margin: 0.5rem auto;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.nav_drawer .nav_content .nav_title .title,
.nav_drawer_closed .nav_content .nav_title .title {
  text-transform: uppercase;
  color: #2c04bc;
  font-size: 2rem;
}
.nav_drawer .nav_content .nav_desc,
.nav_drawer_closed .nav_content .nav_desc {
  text-align: center;
}
.nav_drawer .nav_content .nav_desc p,
.nav_drawer_closed .nav_content .nav_desc p {
  color: #2c04bc;
  font-size: 1.5rem;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
}
.nav_drawer .nav_content .voucher_code_section,
.nav_drawer_closed .nav_content .voucher_code_section {
  background-color: #2c04bc;
  border-radius: 2rem;
  box-sizing: border-box;
  height: 45rem;
  width: 100%;
  margin: 0.5em;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
}
.nav_drawer .nav_content .voucher_code_section::-webkit-scrollbar,
.nav_drawer_closed .nav_content .voucher_code_section::-webkit-scrollbar {
  display: none;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list {
  list-style-type: none;
  margin: 2rem auto;
  padding: 0;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher {
  background-color: transparent;
  margin: 0 2rem;
  padding: 1.5rem 0;
  border-top: 2px solid #ffffff;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher:last-child,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher:last-child {
  border-bottom: 2px solid #ffffff;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher .voucher_item,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher .voucher_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .product_name P,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .product_name P {
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0.2rem;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .product_voucher,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .product_voucher {
  text-transform: uppercase;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #cee885;
}
.nav_drawer .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .share-cta button,
.nav_drawer_closed .nav_content .voucher_code_section .voucher_list .voucher .voucher_item .share-cta button {
  padding: 1rem;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}

.nav_drawer {
  transform: translateX(0%);
  transition: transform ease 1s, transform ease 1s 1s;
}

.nav_drawer_closed {
  transform: translateX(-100%);
  transition: transform ease 1s, transform ease 1s 1s;
}

.greetings {
  height: 100%;
  height: -webkit-fill-available;
}
.greetings section {
  height: 100vh !important;
  padding: 1rem 3.5rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("https://i.ibb.co/2Y0S3BQ/Asset-2.png") !important;
  background-color: #3dc48a !important;
  position: relative;
}
.greetings section .page_title {
  font-size: 1.5rem;
  position: absolute;
  top: 1rem;
  padding: 0 10rem;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
}
.greetings section .generic_title {
  position: absolute;
  top: 5%;
  font-size: 1.75rem;
  font-weight: 400;
  text-align: center;
}
.greetings section .greeting_area {
  text-align: center;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  z-index: 10;
  margin-top: 35%;
  position: relative;
}
.greetings section .greeting_area .top_left_stars {
  position: absolute;
  width: 20%;
  left: 0;
}
.greetings section .greeting_area .bottom_right_stars {
  position: absolute;
  width: 20%;
  right: -5%;
  bottom: 0;
}
.greetings section .greeting_area h2 {
  font-size: 3rem;
}
.greetings section .greeting_area .greeting {
  font-size: 1.75rem;
}
.greetings section .greetings_actions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.greetings section .greetings_actions .share,
.greetings section .greetings_actions .try_another {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.greetings section .greetings_actions .share img,
.greetings section .greetings_actions .try_another img {
  width: 2.5rem;
  padding-right: 1rem;
}
.greetings section .greetings_actions .share p,
.greetings section .greetings_actions .try_another p {
  font-size: 1.5rem;
  padding: 0;
}
.greetings section .start_over {
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0rem 0 2.5rem;
  text-align: center;
}
.greetings section .start_over a {
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}
.greetings section nav {
  padding: 1rem 0;
}

main {
  position: relative;
  flex: 1;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
main aside {
  cursor: pointer;
}
main aside .close_cta {
  width: 3rem;
  position: fixed;
  top: 2rem;
  right: 2rem;
  cursor: pointer;
}
main aside .hamburger {
  position: fixed;
  top: 2rem;
  left: 2rem;
  z-index: 10;
  width: 10%;
  color: #ffffff;
  font-size: 1.5rem;
}
main section {
  scroll-snap-align: start;
  position: relative;
  height: 80vh;
  padding-top: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  background-position: center;
  background-size: cover;
}
main section .content {
  margin: 0rem 3rem;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
main section .content img {
  width: 65%;
}
main section .content h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  margin: 1rem auto;
}
main section .content p {
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.5rem;
  text-align: left;
}
main section .content .integration_samsung_prods {
  display: flex;
}
main section .content .integration_samsung_prods label {
  text-align: center !important;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  position: relative;
  padding-right: 1rem;
  cursor: pointer;
  color: #000000;
}
main section .content .integration_samsung_prods .sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
main section .content .integration_samsung_prods .c-checkbox {
  position: relative;
}
main section .content .integration_samsung_prods .c-checkbox input {
  transition: all 200ms;
}
main section .content .integration_samsung_prods .c-checkbox input + label {
  transition: all 200ms;
  border-radius: 1px;
  width: auto;
}
main section .content .integration_samsung_prods .c-checkbox__label {
  cursor: pointer;
  display: inline-block;
}
main section .content .integration_samsung_prods .c-checkbox__label::before {
  content: "" !important;
  display: inline-block;
  vertical-align: middle;
  width: 2rem;
  height: 2rem;
  border: 2px solid #000000;
  margin-right: 8px;
}
main section .content .integration_samsung_prods .c-checkbox--svg input:checked + .c-checkbox__label--svg::before {
  background: #bc46db;
  border-color: #bc46db;
}
main section .content .integration_samsung_prods .c-checkbox--svg input:checked + .c-checkbox__label--svg .checkbox-icon-svg-path {
  stroke: #000000;
  stroke-dashoffset: 0;
}
main section .content .integration_samsung_prods .c-checkbox__label--svg {
  padding-left: 3rem;
  font-weight: 500;
}
main section .content .integration_samsung_prods .c-checkbox__label--svg::before {
  position: absolute;
  left: 0;
  top: -5px;
  width: 2rem;
  height: 2rem;
  border-radius: 0.25em;
  transition: all 0.125s ease-out;
}
main section .content .integration_samsung_prods .c-checkbox__label--svg svg {
  position: absolute;
  left: 3px;
  top: -3px;
  width: 18px;
  height: 18px;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main section .content .integration_samsung_prods .checkbox-icon-svg-path {
  stroke-dashoffset: 111.46px;
  stroke-dasharray: 111.46px;
  stroke: #000000;
  transition: all 0.11s ease-out;
  transition-delay: 50ms;
}
main section .greeting_generator_page {
  margin: -7rem 3rem;
}
main section nav {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
main section nav p {
  font-size: 2rem;
  line-height: 2.5rem;
  color: #000000;
  font-weight: 500;
  padding: 0 3rem;
}
main section nav button {
  margin: 0 3rem;
  width: 50%;
  margin: 0 auto;
}
main section .greetings_nav .greeting_img {
  position: absolute;
  bottom: 100%;
  z-index: 0;
}
main section .greetings_nav .greeting_img img {
  width: 100%;
}
main section:nth-of-type(1) {
  background-image: url("https://i.ibb.co/m9f6yLx/Asset-14.png");
  background-color: #2c04bc;
  color: #ffffff;
}
main section:nth-of-type(1) nav {
  background-image: url("https://i.ibb.co/FDVn24w/Asset-10.png");
  background-size: cover;
  background-color: #ffc248;
}
main section:nth-of-type(2) {
  background-image: url("https://i.ibb.co/FDVn24w/Asset-10.png");
  background-color: #ffc248;
  color: #ffffff;
}
main section:nth-of-type(2) nav {
  background-image: url("https://i.ibb.co/8NvP2ts/Asset-6.png");
  background-size: cover;
  background-color: #9a7bfc;
}
main section:nth-of-type(3) {
  background-image: url("https://i.ibb.co/8NvP2ts/Asset-6.png");
  background-color: #9a7bfc;
  color: #ffffff;
}
main section:nth-of-type(3) nav {
  background-image: url("https://i.ibb.co/1GtQwZ3/Asset-23.png");
  background-size: cover;
  background-color: #33d7bc;
}
main section:nth-of-type(4) {
  background-image: url("https://i.ibb.co/1GtQwZ3/Asset-23.png");
  background-color: #33d7bc;
  color: #ffffff;
}
main section:nth-of-type(4) nav {
  background-image: url("https://i.ibb.co/wNx4vPd/Asset-4.png");
  background-size: cover;
  background-color: #f7f55f;
}
main section:nth-of-type(5) {
  background-image: url("https://i.ibb.co/wNx4vPd/Asset-4.png");
  background-color: #f7f55f;
  color: #ffffff;
}
main section:nth-of-type(5) nav {
  background-image: url("https://i.ibb.co/qYpSn3g/Asset-24.png");
  background-size: cover;
  background-color: #bc46db;
}
main section:nth-of-type(6) {
  background-image: url("https://i.ibb.co/qYpSn3g/Asset-24.png");
  background-color: #bc46db;
  color: #ffffff;
  height: 80vh !important;
}
main section:nth-of-type(6) nav {
  background-image: url("https://i.ibb.co/2Y0S3BQ/Asset-2.png");
  background-size: cover;
  background-color: #33d7bc;
}

.share_greeting_component {
  bottom: -100%;
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 70%;
  border-top-right-radius: 3rem;
  border-top-left-radius: 3rem;
  background-color: #ffffff;
  transition: bottom 0.5s cubic-bezier(0, 0, 0.26, 0.91);
}
.share_greeting_component .close_greeting_component {
  text-align: right;
}
.share_greeting_component .close_greeting_component img {
  width: 8%;
  padding: 2rem 3rem;
}
.share_greeting_component .greeting_to_share {
  margin: 0 2rem;
  background-color: #3dc48a;
  border-radius: 3rem;
}
.share_greeting_component .greeting_to_share .greeting_area {
  padding: 1.5rem;
  text-align: center;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  z-index: 10;
  position: relative;
}
.share_greeting_component .greeting_to_share .greeting_area .bg_img {
  position: absolute;
  z-index: -5;
  width: 98%;
  height: 95%;
  top: 4%;
  left: 0;
  right: 0;
  margin: 0 auto;
  border-radius: 2rem;
}
.share_greeting_component .greeting_to_share .greeting_area img {
  width: 50%;
}
.share_greeting_component .greeting_to_share .greeting_area .top_left_stars {
  position: absolute;
  width: 15%;
  left: 5%;
}
.share_greeting_component .greeting_to_share .greeting_area .bottom_right_stars {
  position: absolute;
  width: 15%;
  right: 3%;
  bottom: 3%;
}
.share_greeting_component .greeting_to_share .greeting_area h2 {
  font-size: 3rem;
}
.share_greeting_component .greeting_to_share .greeting_area .greeting {
  font-size: 1.75rem;
}
.share_greeting_component .share_via_socials {
  background-color: #ffffff;
}
.share_greeting_component .share_via_socials .share_title {
  margin: 1.5rem 3rem;
  font-size: 2rem;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
}
.share_greeting_component .share_via_socials .socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
.share_greeting_component .share_via_socials .socials .social_icon {
  text-align: center;
  width: 50%;
}
.share_greeting_component .share_via_socials .socials .social_icon img {
  width: 50%;
}
.share_greeting_component .share_via_socials .socials .social_icon .social_name {
  text-align: center;
  font-size: 1rem;
}

.aside_nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 25;
  background-image: url("https://i.ibb.co/XLccYzD/Asset-5.png") !important;
  background-color: #f7f55f !important;
  padding-top: 8rem !important;
}
.aside_nav .content {
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  margin: 0 auto;
  background-color: #ffffff;
}
.aside_nav .content .rewards_section .rewards_section_header {
  box-shadow: 0px 10px 39px -2px rgba(0, 0, 0, 0.37);
  -webkit-box-shadow: 0px 10px 39px -2px rgba(0, 0, 0, 0.37);
  -moz-box-shadow: 0px 10px 39px -2px rgba(0, 0, 0, 0.37);
}
.aside_nav .content .rewards_section .rewards_section_header p {
  padding: 2rem;
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
}
.aside_nav .content .rewards_section .voucher_code_section {
  height: 60%;
  overflow: scroll;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list {
  list-style-type: none;
  margin: 2rem auto;
  padding: 0;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher {
  background-color: transparent;
  margin: 0 2rem;
  padding: 1.5rem 0;
  border-top: 2px solid #000000;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher:first-child {
  border-top: none;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher:last-child {
  border-bottom: none;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher .voucher_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher .voucher_item .product_name P {
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  color: #000000;
  margin: 0.2rem;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher .voucher_item .product_voucher {
  text-transform: uppercase;
  font-family: "Samsung Sharp Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 2rem;
  color: #000000;
}
.aside_nav .content .rewards_section .voucher_code_section .voucher_list .voucher .voucher_item .share-cta button {
  padding: 1rem;
  border-radius: 3.75rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: #ffffff;
  background-color: #000000;
  border: none;
  cursor: pointer;
}
.aside_nav .content .rewards_section .rewards_nav_home {
  height: 100%;
  background-image: url("https://i.ibb.co/x3KvFZp/Asset-22.png");
  background-size: cover;
  background-color: #0d88f7;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.aside_nav .content .rewards_section .rewards_nav_home p {
  text-align: left !important;
  font-size: 2rem;
  font-family: "SamsungOne", Arial, Helvetica, sans-serif;
}

@media screen and (max-height: 700px) {
  .voucher_code_section {
    height: 40% !important;
    overflow: scroll;
  }
}
@media (min-width: 768px) {
  main aside .hamburger {
    width: 3%;
  }
  main section nav p {
    padding: 0 35rem;
  }
  .input .range_list img {
    width: 10% !important;
  }
  .generate_greetings_cta {
    width: 50% !important;
  }
  .nav_drawer,
  .nav_drawer_closed,
  .aside_nav {
    width: 55%;
  }
  .greetings section .page_title {
    font-size: 3rem;
  }
  .greetings section .greeting_card_area {
    width: 30%;
  }
  .greetings section .greetings_actions {
    width: 50%;
  }
  section .content {
    width: 50%;
  }
  section .content .integration_samsung_prods label {
    font-size: 2rem !important;
  }
  section .content h1 {
    font-size: 3rem;
  }
  section .content p {
    font-size: 2rem;
  }
  .aside_nav {
    padding-top: 0 !important;
    height: 100% !important;
  }
  .aside_nav .content .rewards_section .voucher_code_section {
    height: 70vh;
  }
  .greetings section {
    padding: 0 35rem;
  }
  .greetings section .greeting_area {
    margin-top: 15%;
  }
  .greetings section .greeting_area .top_left_stars, .greetings section .greeting_area .bottom_right_stars {
    width: 10%;
  }
  .greetings section .greetings_nav .greeting_img {
    left: 30%;
  }
  .greetings section .greetings_nav .greeting_img img {
    width: 60%;
  }
  .greetings section .greetings_actions {
    padding: 0 35rem;
  }
  .share_greeting_component {
    width: 40%;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -10%;
  }
  .share_greeting_component .greeting_to_share {
    margin: 0 7rem;
  }
  .share_greeting_component .share_via_socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .share_greeting_component .share_via_socials .socials .social_icon {
    cursor: pointer;
  }
}/*# sourceMappingURL=main.css.map */